.dnd5e2.sheet.actor .tab.strain .lozenges {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0.5rem;
}

.dnd5e2.sheet.actor .tab.strain .lozenges.strain-total {
    padding: 0 4.5rem;
}

.dnd5e2.sheet.actor .tab.strain .lozenge {
    width: 80px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dnd5e2.sheet.actor .tab.strain .lozenge::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 30px;
    background: transparent url(../../../systems/dnd5e/ui/lozenge.svg) no-repeat top center / contain;
    background-size: cover;
    z-index: 0;
    filter:
        brightness(0)
        saturate(1)
        invert(1)
        sepia(38%)
        saturate(317%)
        hue-rotate(298deg)
        brightness(101%)
        contrast(94%)
        drop-shadow(1px 0px 0px var(--dnd5e-color-gold))
        drop-shadow(-1px 0px 0px var(--dnd5e-color-gold))
        drop-shadow(0px 1px 0px var(--dnd5e-color-gold))
        drop-shadow(0px -1px 0px var(--dnd5e-color-gold))
        drop-shadow(0 0 6px var(--dnd5e-shadow-45));
}

.dnd5e2.sheet.actor .tab.strain .lozenge .value {
    font-family: var(--dnd5e-font-roboto-slab);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text-dark-primary);
    height: 100%;
    line-height: 30px;
    text-shadow: 0 0 4px var(--dnd5e-highlight-45);
    z-index: 1;
}

.dnd5e2.sheet.actor .tab.strain .lozenge input {
    background: none;
    border: none;
    padding: 0;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 4px var(--dnd5e-shadow-15);
    transition: box-shadow 250ms ease;
    width: 2rem;
    z-index: 1;
}

.dnd5e2.sheet.actor .tab.strain .lozenge input:hover {
    box-shadow: 0 0 6px var(--dnd5e-color-gold);
}

.dnd5e2.sheet.actor .tab.strain .lozenge .value.max {
    color: var(--color-text-dark-5);
    text-shadow: 0 0 4px var(--dnd5e-shadow-15);
}


.dnd5e2.sheet.actor .tab.strain .lozenge .label {
    font-size: 11px;
    white-space: nowrap;
}

.dnd5e2.sheet.actor .tab.strain .item-header {
    padding: 8px;
}

.dnd5e2.sheet.actor .tab.strain .strain-entry {
    padding: 0.25rem;
}

.dnd5e2.sheet.actor .tab.strain .items-section div,
.dnd5e2.sheet.actor .tab.strain .items-section h3 {
    width:100%;
    display: flex;
    align-items: center;
}

.dnd5e2.sheet.actor .tab.strain .items-section .number {
    width: 30%;
    text-align: center;
    justify-content: center;
}

.dnd5e2.sheet.actor .tab.strain a.strain-toggle {
    /* padding-right: 0.5rem; */
    display: flex;
    font-family: var(--dnd5e-font-roboto-condensed);
    font-size: var(--font-size-14);
}

.dnd5e2.sheet.actor .tab.strain a.strain-toggle i {
    padding-right: 0.5rem;
    line-height: 15px;
    font-size: 9px;
    color: var(--dnd5e-color-gold);
}

.dnd5e2.sheet.actor .tab.strain label.strain-label.disabled,
.dnd5e2.sheet.actor .tab.strain a.strain-toggle.disabled,
.dnd5e2.sheet.actor .tab.strain a.strain-toggle.disabled:hover,
.dnd5e2.sheet.actor .tab.strain a.strain-toggle.disabled i,
.dnd5e2.sheet.actor .tab.strain a.strain-toggle.disabled i:hover {
    cursor: default;
    color: var(--color-text-light-6);
    text-shadow: none;
}

.dnd5e.sheet.actor label.strain-label.disabled,
.dnd5e.sheet.actor a.strain-toggle.disabled {
    color: #b5b3a4;
    cursor: default;
    text-shadow: none;
}

.tidy5e.sheet.actor .tab.strain .center-pane {
    margin-left: 0;
    padding-right: 0.75rem;
}

.tidy5e.sheet.actor a.strain-toggle i {
    color: var(--t5e-tertiary-color);
}

.tidy5e.sheet.actor a.strain-toggle i.fa-check {
    color: var(--t5e-secondary-color);
}

.tidy5e.sheet.actor a.strain-toggle i:hover {
    color: var(--t5e-primary-color);
}

.tidy5e.sheet.actor a.strain-toggle.disabled,
.tidy5e.sheet.actor a.strain-toggle.disabled:hover,
.tidy5e.sheet.actor a.strain-toggle.disabled i:hover {
    cursor: default;
    color: var(--t5e-tertiary-color);
}

.tidy5e.sheet.actor input[type=number]:hover {
    box-shadow: 0px 0px 0px 1px var(--t5e-primary-accent) inset;
}
