.dnd5e.sheet.actor label.strain-label.disabled,
.dnd5e.sheet.actor a.strain-toggle.disabled {
    color: #b5b3a4;
    cursor: default;
    text-shadow: none;
}

.tidy5e.sheet.actor .tab.strain .center-pane {
    margin-left: 0;
    padding-right: 0.75rem;
}

.tidy5e.sheet.actor a.strain-toggle i {
    color: var(--t5e-tertiary-color);
}

.tidy5e.sheet.actor a.strain-toggle i.fa-check {
    color: var(--t5e-secondary-color);
}

.tidy5e.sheet.actor a.strain-toggle i:hover {
    color: var(--t5e-primary-color);
}

.tidy5e.sheet.actor a.strain-toggle.disabled,
.tidy5e.sheet.actor a.strain-toggle.disabled:hover,
.tidy5e.sheet.actor a.strain-toggle.disabled i:hover {
    cursor: default;
    color: var(--t5e-tertiary-color);
}

.tidy5e.sheet.actor input[type=number]:hover {
    box-shadow: 0px 0px 0px 1px var(--t5e-primary-accent) inset;
}